.dark {
  --p-primary-1: #2B1656;
  --p-primary-2: #391C79;
  --p-primary-3: #47229E;
  --p-primary-4: #6336DC;
  --p-primary-5: #9378E8;
  --p-primary-6: #7B57E5;
  --p-primary-7: #6336DC;
  --p-text-1: #F9F9F9;
  --p-text-2: #C2C1C3;
  --p-text-3: #A5A4A9;
  --p-text-4: #6D6B75;
  --p-text-5: #46444F;
  --p-text-6: #46444F;
  --p-text-white: #F9F9F9;
  --p-text-dark: #0C0C0D;
  --p-text-t-2: #FFFFFFb3;
  --p-text-t-5: #FFFFFF66;
  --p-text-opt-1: #898790;
  --p-text-opt-2: #C2C1C3;
  --p-text-opt-3: #DDDDDE;
  --p-text-opt-4: #34313B;
  --p-text-tab-5: #6D6B75;
  --p-text-tab-6: #DDDDDE;
  --p-text-tab-7: #DDDDDE;
  --p-text-tab-8: #34313B;
  --p-text-drop-1: #C2C1C3FF;
  --p-text-drop-2: #C2C1C3FF;
  --p-text-drop-3: #FFFFFF33;
  --p-text-drop-4: #F76965FF;
  --p-text-drop-5: #F76965FF;
  --p-text-drop-6: #F53F3F66;
  --p-fill-ww-1: #FFFFFF0D;
  --p-fill-ww-2: #FFFFFF1A;
  --p-fill-ww-3: #FFFFFF33;
  --p-fill-ww-4: #FFFFFF66;
  --p-fill-dd-1: #0C0C0D0D;
  --p-fill-dd-2: #0C0C0D1A;
  --p-fill-dd-3: #0C0C0D33;
  --p-fill-dd-4: #0C0C0D66;
  --p-fill-wd-1: #FFFFFF0D;
  --p-fill-wd-2: #FFFFFF1A;
  --p-fill-wd-3: #FFFFFF33;
  --p-fill-wd-4: #FFFFFF66;
  --p-fill-dw-1: #0C0C0D0D;
  --p-fill-dw-2: #0C0C0D1A;
  --p-fill-dw-3: #0C0C0D33;
  --p-fill-dw-4: #0C0C0D66;
  --p-fill-dw-10: #0C0C0D66;
  --p-border-t-1: #FFFFFF0D;
  --p-border-t-2: #FFFFFF0D;
  --p-border-t-5: #7B57E5CC;
  --p-border-1: #FFFFFF0D;
  --p-border-2: #FFFFFF1A;
  --p-border-3: #FFFFFF33;
  --p-border-ipt-1: #FFFFFF00;
  --p-border-ipt-2: #FFFFFF1A;
  --p-border-ipt-3: #FFFFFF1A;
  --p-border-ipt-4: #FFFFFF00;
  --p-border-upload-1: #FFFFFF1A;
  --p-border-upload-2: #FFFFFF1A;
  --p-fill-t-1: #0C0C0D33;
  --p-fill-t-2: #0C0C0D66;
  --p-fill-t-3: #0C0C0DB3;
  --p-fill-t-4: #7B57E533;
  --p-fill-t-5: #7B57E51A;
  --p-fill-btn-1: #FFFFFF0D;
  --p-fill-btn-2: #FFFFFF33;
  --p-fill-btn-3: #FFFFFF1A;
  --p-fill-btn-4: #FFFFFF0D;
  --p-fill-btn-5: #7B57E51A;
  --p-fill-btn-6: #7B57E533;
  --p-fill-btn-7: #7B57E51A;
  --p-fill-btn-8: #7B57E50D;
  --p-fill-btn-9: #F53F3F1A;
  --p-fill-btn-10: #F53F3F33;
  --p-fill-btn-11: #F53F3F1A;
  --p-fill-btn-12: #F53F3F0D;
  --p-fill-ipt-1: #FFFFFF0D;
  --p-fill-ipt-2: #FFFFFF0D;
  --p-fill-ipt-3: #FFFFFF0D;
  --p-fill-ipt-4: #FFFFFF0D;
  --p-fill-opt-1: #FFFFFF0D;
  --p-fill-opt-2: #FFFFFF1A;
  --p-fill-opt-3: #FFFFFF1A;
  --p-fill-opt-4: #FFFFFF0D;
  --p-fill-drop-1: #FFFFFF00;
  --p-fill-drop-2: #FFFFFF0D;
  --p-fill-drop-3: #FFFFFF00;
  --p-fill-drop-4: #F53F3F00;
  --p-fill-drop-5: #F53F3F1A;
  --p-fill-drop-6: #F53F3F00;
  --p-fill-tab-1: #FFFFFF00;
  --p-fill-tab-2: #FFFFFF00;
  --p-fill-tab-3: #FFFFFF1A;
  --p-fill-tab-4: #FFFFFF0D;
  --p-fill-tab-5: #FFFFFF0D;
  --p-fill-tab-6: #FFFFFF0D;
  --p-fill-tab-7: #FFFFFF1A;
  --p-fill-pgs-1: #7B57E5;
  --p-fill-pgs-2: #FFFFFF0D;
  --p-fill-slider-1: #7B57E5;
  --p-fill-slider-2: #2B1656;
  --p-fill-slider-3: #FFFFFF0D;
  --p-fill-slider-4: #FFFFFF0D;
  --p-fill-slider-5: #FFFFFF;
  --p-fill-slider-6: #4D4A55;
  --p-fill-switch-1: #34313B;
  --p-fill-switch-3: #FFFFFF1A;
  --p-fill-switch-2: #7B57E5;
  --p-fill-switch-4: #391C79;
  --p-fill-switch-5: #F9F9F9;
  --p-fill-switch-6: #FFFFFFB3;
  --p-bg-1: #0C0C0D;
  --p-bg-2: #121216;
  --p-bg-3: #1A1A1E;
  --p-bg-4: #FFFFFF0D;
  --p-bg-5: #313135;
  --p-bg-6: #222227;
  --p-success-1: #173E1B;
  --p-success-2: #1F5624;
  --p-success-3: #286E2D;
  --p-success-4: #389E3E;
  --p-success-5: #61C662;
  --p-success-6: #40B745;
  --p-success-7: #389E3E;
  --p-info-1: #4D2D00;
  --p-info-2: #7C4D01;
  --p-info-3: #AB7002;
  --p-info-4: #F9B814;
  --p-info-5: #FBD964;
  --p-info-6: #F9CC44;
  --p-info-7: #F9B814;
  --p-warning-1: #4D1B00;
  --p-warning-2: #782E00;
  --p-warning-3: #A34400;
  --p-warning-4: #FA7900;
  --p-warning-5: #FFAE4D;
  --p-warning-6: #FF9626;
  --p-warning-7: #FA7900;
  --p-danger-1: #4D000A;
  --p-danger-2: #82010E;
  --p-danger-3: #B60410;
  --p-danger-4: #F62F30;
  --p-danger-5: #FA877F;
  --p-danger-6: #F76965;
  --p-danger-7: #F62F30;
  --p-link-1: #023170;
  --p-link-2: #02408F;
  --p-link-3: #0250AF;
  --p-link-4: #0172EF;
  --p-link-5: #3CA0FF;
  --p-link-6: #1085FF;
  --p-link-7: #0172EF;
  --p-fill-upload-1: #FFFFFF07;
  --p-fill-upload-2: #FFFFFF0D;
  --p-fill-gradient-8: #12121666;
  --p-fill-gradient-9: #121216CC;
  --p-fill-gradient-10: #121216FF;

}

:root {
  --p-primary-1: #E9E5F9;
  --p-primary-2: #D3CAF4;
  --p-primary-3: #BDAEEF;
  --p-primary-4: #9175E8;
  --p-primary-5: #6336DC;
  --p-primary-6: #7B57E5;
  --p-primary-7: #9175E8;
  --p-text-1: #2D2B34;
  --p-text-2: #3D3A45;
  --p-text-3: #5D5A65;
  --p-text-4: #898790;
  --p-text-5: #C2C1C3;
  --p-text-6: #A5A4A9;
  --p-text-white: #F9F9F9;
  --p-text-dark: #0C0C0D;
  --p-text-t-2: #0C0C0Db3;
  --p-text-t-5: #FFFFFFB3;
  --p-text-opt-1: #6D6B75;
  --p-text-opt-2: #4D4A55;
  --p-text-opt-3: #7B57E5;
  --p-text-opt-4: #A5A4A9;
  --p-text-tab-5: #2D2B34;
  --p-text-tab-6: #7B57E5;
  --p-text-tab-7: #7B57E5;
  --p-text-tab-8: #A5A4A9;
  --p-text-drop-1: #3D3A45FF;
  --p-text-drop-2: #3D3A45FF;
  --p-text-drop-3: #A5A4A9FF;
  --p-text-drop-4: #F53F3FFF;
  --p-text-drop-5: #F53F3FFF;
  --p-text-drop-6: #FECDC5FF;

  --p-fill-ww-1: #FFFFFF0D;
  --p-fill-ww-2: #FFFFFF1A;
  --p-fill-ww-3: #FFFFFF33;
  --p-fill-ww-4: #FFFFFF66;
  --p-fill-dd-1: #0C0C0D0D;
  --p-fill-dd-2: #0C0C0D1A;
  --p-fill-dd-3: #0C0C0D33;
  --p-fill-dd-4: #0C0C0D66;
  --p-fill-wd-1: #0C0C0D0D;
  --p-fill-wd-2: #0C0C0D1A;
  --p-fill-wd-3: #0C0C0D33;
  --p-fill-wd-4: #0C0C0D66;
  --p-fill-dw-1: #FFFFFF0D;
  --p-fill-dw-2: #FFFFFF1A;
  --p-fill-dw-3: #FFFFFF33;
  --p-fill-dw-4: #FFFFFF66;
  --p-fill-dw-10: #FFFFFF;
  --p-border-t-1: #0C0C0D00;
  --p-border-t-2: #0C0C0D1A;
  --p-border-t-5: #7B57E5CC;
  --p-border-1: #0C0C0D0D;
  --p-border-2: #0C0C0D1A;
  --p-border-3: #0C0C0D33;
  --p-border-ipt-1: #0C0C0D00;
  --p-border-ipt-2: #0C0C0D00;
  --p-border-ipt-3: #0C0C0D1A;
  --p-border-ipt-4: #0C0C0D00;
  --p-border-upload-1: #0C0C0D1A;
  --p-border-upload-2: #7B57E533;
  --p-fill-t-1: #0C0C0D33;
  --p-fill-t-2: #0C0C0D33;
  --p-fill-t-3: #0C0C0D66;
  --p-fill-t-4: #7B57E533;
  --p-fill-t-5: #7B57E51A;
  --p-fill-btn-1: #0C0C0D0D;
  --p-fill-btn-2: #0C0C0D33;
  --p-fill-btn-3: #0C0C0D1A;
  --p-fill-btn-4: #0C0C0D0D;
  --p-fill-btn-5: #7B57E51A;
  --p-fill-btn-6: #7B57E533;
  --p-fill-btn-7: #7B57E51A;
  --p-fill-btn-8: #7B57E50D;
  --p-fill-btn-9: #F53F3F1A;
  --p-fill-btn-10: #F53F3F33;
  --p-fill-btn-11: #F53F3F1A;
  --p-fill-btn-12: #F53F3F0D;

  --p-fill-ipt-1: #0C0C0D0D;
  --p-fill-ipt-2: #0C0C0D1A;
  --p-fill-ipt-3: #0C0C0D0D;
  --p-fill-ipt-4: #0C0C0D0D;
  --p-fill-opt-1: #0C0C0D0D;
  --p-fill-opt-2: #0C0C0D1A;
  --p-fill-opt-3: #E9E5F9;
  --p-fill-opt-4: #0C0C0D0D;


  --p-fill-drop-1: #0C0C0D00;
  --p-fill-drop-2: #0C0C0D1A;
  --p-fill-drop-3: #0C0C0D00;
  --p-fill-drop-4: #F53F3F00;
  --p-fill-drop-5: #F53F3F1A;
  --p-fill-drop-6: #F53F3F00;


  --p-fill-tab-1: #0C0C0D00;
  --p-fill-tab-2: #0C0C0D00;
  --p-fill-tab-3: #FFFFFF;
  --p-fill-tab-4: #0C0C0D0D;
  --p-fill-tab-5: #0C0C0D0D;
  --p-fill-tab-6: #0C0C0D0D;
  --p-fill-tab-7: #E9E5F9;
  --p-fill-pgs-1: #7B57E5;
  --p-fill-pgs-2: #0C0C0D0D;
  --p-fill-slider-1: #7B57E5;
  --p-fill-slider-2: #D3CAF4;
  --p-fill-slider-3: #0C0C0D0D;
  --p-fill-slider-4: #0C0C0D0D;
  --p-fill-slider-5: #FFFFFF;
  --p-fill-slider-6: #FFFFFF;
  --p-fill-switch-1: #C2C1C3;
  --p-fill-switch-3: #0C0C0D1A;
  --p-fill-switch-2: #7B57E5;
  --p-fill-switch-4: #D3CAF4;
  --p-fill-switch-5: #FFFFFF;
  --p-fill-switch-6: #FFFFFF;
  --p-bg-1: #F2F3F5;
  --p-bg-2: #FFFFFF;
  --p-bg-3: #F2F3F5;
  --p-bg-4: #E9E5F9;
  --p-bg-5: #FFFFFF;
  --p-bg-6: #FFFFFF;
  --p-success-1: #EDF8ED;
  --p-success-2: #CAEBCB;
  --p-success-3: #A7DEA8;
  --p-success-4: #60C664;
  --p-success-5: #369F3C;
  --p-success-6: #40B745;
  --p-success-7: #60C664;
  --p-info-1: #FFF7E8;
  --p-info-2: #FFE5BA;
  --p-info-3: #FFCF8B;
  --p-info-4: #FF9B2E;
  --p-info-5: #DB6500;
  --p-info-6: #FF7D00;
  --p-info-7: #FF9B2E;
  --p-warning-1: #FFF7E8;
  --p-warning-2: #FFE5BA;
  --p-warning-3: #FFCF8B;
  --p-warning-4: #FF9B2E;
  --p-warning-5: #DB6500;
  --p-warning-6: #FF7D00;
  --p-warning-7: #FF9B2E;
  --p-danger-1: #FFECE8;
  --p-danger-2: #FECDC5;
  --p-danger-3: #FDACA2;
  --p-danger-4: #F8655F;
  --p-danger-5: #D10611;
  --p-danger-6: #F53F3F;
  --p-danger-7: #F8655F;
  --p-link-1: #ECF7FF;
  --p-link-2: #B5DEFF;
  --p-link-3: #7EC3FF;
  --p-link-4: #1085FF;
  --p-link-5: #0060CF;
  --p-link-6: #0072EF;
  --p-link-7: #1085FF;

  --p-fill-upload-1: #0C0C0D07;
  --p-fill-upload-2: #7B57E50D;
  --p-fill-gradient-8: #FFFFFF66;
  --p-fill-gradient-9: #FFFFFFCC;
  --p-fill-gradient-10: #FFFFFFFF;
}